/* popup.html*/
div#popup {
	width: 300px;
	height: auto;
	background-color: #fff;
	color: #4D4D4E;
}

div#popup h1 {
	background:url(images/multiclip16x16.png) no-repeat left top;
	height: 25px;
	padding: 0 0 0 20px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}

div#popup a {
	text-decoration: underline;
	color: #000;
	color: #3399D5;
	font-size: 12px;
	cursor:pointer;
}

div#popup a.removeAll {
	text-decoration: none;
}

div#popup ul#clipList {
	margin: 5px  0 10px 0;
	padding: 5px 0px 15px 0;
	border-bottom: 1px solid #ccc;
}

div#popup ul#clipList li{
	padding: 5px 0 7px 0;
	margin: 0 0 10px 0;
	color: #000;
	display:block;
	background: url(images/multiclip_bg.png) no-repeat bottom center;
}

div#popup ul#clipList li p{
	width: 300px;
	margin: 0 0 10px 0;
	font-size: 12px;
	font-weight: bold;
}

div#popup ul#clipList li img{
	display: block;
	float:left;
	margin: 5px 5px 5px 0;
}

div#popup ul#clipList a{
	margin: 0 0 0 80px;
}

div#popup ul#clipList li a.delete, 
div#popup ul#clipList li a.origin {
  	margin: 0 0 0 20px;
}

/* utils.js*/
#status {
	font-size: 12px;
	font-weight: bold;
	background: url(http://www.ilimitado.de/labs/multiClip/images/multiclip16x16.png) #fff no-repeat 5px 5px;
	color: #000;
	border: 2px solid #3399D5;
	border-top: 0;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	padding: 5px 5px 5px 25px;
	display: none;	
	position: fixed;
        top: 0;
	z-index: 2000000;
}

/* options.html*/

div#options {
	width:220px;	
	margin: 10px 0 0 10px;
}

div#options h1 {
	background:url(images/multiclip32x32.png) no-repeat 5px 0;
	height:32px;
	text-indent:52px;
	font-size:20px;
	padding: 5px 0 0 0;
	margin: 0;
}

div#options-form {
	background:#0092ef;
	padding:20px 20px 5px 20px;
	border:2px solid black;
	line-height:1.5em;
}

div#options-form #save {
	margin: 5px 0 0 0;	
}


div#options-form input[type=text] {
	width:168px;
	height:52px;
	border:4px solid #555;
	font-size:24pt;
	margin: 0 0 20px 0;
}

div#options-form input[type=checkbox] {
	margin: 0 0 20px 0;
}
