div#wrapper {
  width: 300px;
  height: 400px;
  background-color: #fff;
  color: #4D4D4E;
}

div#wrapper h1 {
  color: #4D4D4E;
  background:url(multiclipboard_icon_v2_19x19.png) no-repeat left top;
  height: 25px;
  padding: 0 0 0 25px;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

div#wrapper ul#clipList {
  margin: 5px  0 10px 0;
  padding: 5px 0px 15px 0;
}

div#wrapper ul#clipList li{
  padding: 5px 0 8px 0;
  margin: 0 0 10px 0;
  color: #000;
  display:block;
  background: url("multiclipboard_bg2.png") no-repeat bottom center;
}

div#wrapper ul#clipList li p{
  width: 300px;
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: bold;
}

div#wrapper ul#clipList a{
  text-decoration: underline;
  color: #000;
  margin: 0 0 0 110px;
}

div#wrapper ul#clipList li a{
  color: #3399D5;
  font-size: 12px;
  cursor:pointer
}

div#wrapper ul#clipList li a.delete {
  margin: 0 0 0 20px;
}

#clipping {
  display: none;
}

div#dialog {
  background: url("multiclipboard_icon_v2_39x39.png") #fff no-repeat 10px top;
  position: fixed;
  top: 30px;
  z-index: 2000000;
  display: none;
  left: 30px;
  border-style: solid;
  border-color: #3399D5;
  color: #0092ef;
  width: 150px;  
  padding: 10px 10px 10px 60px;
  font-size: 20px;
  font-weight:bold;
}
