div#wrapper {
  width: 300px;
  height: auto;
  background-color: #fff;
  color: #4D4D4E;
}

div#wrapper h1 {
  color: #4D4D4E;
  background:url(multiclipboard_icon_v2_19x19.png) no-repeat left top;
  height: 25px;
  padding: 0 0 0 25px;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

div#wrapper ul#clipList {
  margin: 5px  0 10px 0;
  padding: 5px 0px 15px 0;
  border-bottom: 1px solid #ccc;
}

div#wrapper ul#clipList li{
  padding: 5px 0 7px 0;
  margin: 0 0 10px 0;
  color: #000;
  display:block;
  background: url("multiclipboard_bg2.png") no-repeat bottom center;
}

div#wrapper ul#clipList li p{
  width: 300px;
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: bold;
}

div#wrapper ul#clipList li img{
  display: block;
  float:left;
  margin: 5px 5px 5px 0;
}

div#wrapper a {
  text-decoration: underline;
  color: #000;
  color: #3399D5;
  font-size: 12px;
  cursor:pointer
}

div#wrapper a.removeAll {
  text-decoration: none;
}

div#wrapper ul#clipList a{
  margin: 0 0 0 80px;
}

div#wrapper ul#clipList li a.delete, 
div#wrapper ul#clipList li a.origin {
  margin: 0 0 0 20px;
}

div#dialog {
  background: url(http://www.ilimitado.de/labs/multiclipboard_icon_v2_39x39.png) #fff no-repeat 15px 3px;
  position: fixed;
  top: 30px;
  z-index: 2000000;
  display: none;
  border: 3px solid #3399D5;
  color: #0092ef;
  width: 150px;  
  padding: 10px 10px 10px 70px;
  font-size: 20px;
  font-weight:bold;
}
